USE [master]
GO
/****** Object:  Database [TestManagementDB]    Script Date: 5/28/2026 11:42:42 AM ******/
CREATE DATABASE [TestManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestManagementDB]
GO
/****** Object:  User [erxin]    Script Date: 5/28/2026 11:42:47 AM ******/
CREATE USER [erxin] FOR LOGIN [erxin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[DeviceUnderTest]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceUnderTest](
	[id] [int] NOT NULL,
	[name] [nchar](50) NOT NULL,
	[description] [nvarchar](256) NULL,
	[machineId] [int] NOT NULL,
	[productId] [int] NULL,
 CONSTRAINT [PK_DeviceUnderTest] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GraphicTemplate]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GraphicTemplate](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[queryTemplate] [text] NULL,
 CONSTRAINT [PK_GraphicTemplate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operation]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operation](
	[id] [int] NOT NULL,
	[name] [nchar](32) NOT NULL,
	[description] [nchar](256) NULL,
 CONSTRAINT [PK_Operation] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[name] [nchar](50) NOT NULL,
	[description] [nvarchar](256) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[id] [int] NOT NULL,
	[name] [nchar](50) NOT NULL,
	[description] [nchar](256) NULL,
	[productId] [int] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Release]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Release](
	[id] [int] NOT NULL,
	[version] [nchar](30) NOT NULL,
	[productId] [int] NULL,
 CONSTRAINT [PK_Release] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultType]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultType](
	[id] [int] NOT NULL,
	[name] [nchar](50) NOT NULL,
 CONSTRAINT [PK_ResultType_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[name] [nchar](32) NOT NULL,
	[description] [nchar](256) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleOperationMap]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleOperationMap](
	[roleId] [int] NOT NULL,
	[operationId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Script]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Script](
	[id] [int] NOT NULL,
	[name] [nchar](256) NOT NULL,
	[uri] [nchar](256) NULL,
	[scriptRepoId] [int] NULL,
	[command] [nchar](1024) NULL,
 CONSTRAINT [PK_Script] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScriptRepository]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScriptRepository](
	[id] [int] NOT NULL,
	[name] [nchar](10) NULL,
	[url] [nchar](256) NULL,
 CONSTRAINT [PK_ScriptRepository] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestArtifact]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestArtifact](
	[id] [int] NOT NULL,
	[name] [nvarchar](256) NULL,
	[url] [nvarchar](1024) NOT NULL,
 CONSTRAINT [PK_TestArtifact] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestBuild]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestBuild](
	[id] [bigint] NOT NULL,
	[jobId] [int] NOT NULL,
	[timestamp] [datetime2](7) NOT NULL,
	[buildResultId] [int] NOT NULL,
	[testResultId] [int] NOT NULL,
	[guid] [uniqueidentifier] NOT NULL,
	[startTime] [datetime2](7) NULL,
	[endTime] [datetime2](7) NULL,
	[timeoutHours] [float] NOT NULL,
 CONSTRAINT [PK_Build] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestCase]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCase](
	[id] [int] NOT NULL,
	[jobId] [int] NULL,
	[scriptId] [int] NULL,
 CONSTRAINT [PK_TestCase] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestJob]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestJob](
	[id] [int] NOT NULL,
	[name] [nchar](256) NOT NULL,
	[url] [nvarchar](256) NULL,
	[credentialId] [int] NULL,
	[defaultTestMachineId] [int] NULL,
	[projectId] [int] NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestJobParameters]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestJobParameters](
	[id] [int] NOT NULL,
	[testJobId] [int] NOT NULL,
	[name] [nchar](10) NOT NULL,
	[value] [nchar](10) NULL,
	[defaultValue] [nchar](10) NULL,
 CONSTRAINT [PK_TestJobParameters] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestJobReportTemplate]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestJobReportTemplate](
	[id] [int] NOT NULL,
	[name] [nchar](256) NOT NULL,
	[template] [text] NOT NULL,
	[testJobId] [int] NULL,
	[emailTo] [nvarchar](1024) NULL,
	[emailCc] [nvarchar](1024) NULL,
	[emailBcc] [nvarchar](1024) NULL,
 CONSTRAINT [PK_TestJobReportTemplate] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestMachine]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestMachine](
	[id] [int] NOT NULL,
	[name] [nchar](256) NOT NULL,
	[address] [nchar](256) NULL,
	[credentialId] [int] NULL,
 CONSTRAINT [PK_TestMachine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestPlan]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestPlan](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](256) NULL,
	[productId] [int] NULL,
 CONSTRAINT [PK_TestPlan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestPlanRecipe]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestPlanRecipe](
	[id] [int] NOT NULL,
	[testPlanId] [int] NOT NULL,
	[testSuitId] [int] NULL,
	[testCaseId] [int] NULL,
	[schedual] [nchar](50) NULL,
 CONSTRAINT [PK_TestPlanRecipe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestReport]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestReport](
	[id] [int] NOT NULL,
	[name] [nvarchar](256) NOT NULL,
	[report] [text] NULL,
	[buildId] [bigint] NOT NULL,
	[testReportTemplateId] [int] NULL,
 CONSTRAINT [PK_TestReport] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResult]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResult](
	[id] [bigint] NOT NULL,
	[testBuildId] [bigint] NOT NULL,
	[TestResultId] [int] NOT NULL,
 CONSTRAINT [PK_TestResult] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestSuite]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestSuite](
	[id] [int] NOT NULL,
	[name] [nchar](50) NULL,
 CONSTRAINT [PK_TestSuite] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NOT NULL,
	[name] [nchar](32) NOT NULL,
	[token] [nchar](128) NULL,
	[roleId] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCredential]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCredential](
	[id] [int] NOT NULL,
	[userName] [nchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[token] [nvarchar](256) NULL,
	[description] [nvarchar](256) NULL,
	[createdby] [nvarchar](50) NULL,
	[scope] [nvarchar](50) NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[id] [int] NOT NULL,
	[name] [nchar](32) NULL,
	[description] [nchar](256) NOT NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroupMap]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroupMap](
	[userId] [int] NOT NULL,
	[groupId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMap]    Script Date: 5/28/2026 11:42:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMap](
	[userId] [int] NOT NULL,
	[roleId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Project_Name]    Script Date: 5/28/2026 11:42:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Project_Name] ON [dbo].[Project]
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Datetime]    Script Date: 5/28/2026 11:42:47 AM ******/
CREATE NONCLUSTERED INDEX [IX_Datetime] ON [dbo].[TestBuild]
(
	[timestamp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Job]    Script Date: 5/28/2026 11:42:47 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Job] ON [dbo].[TestJob]
(
	[url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TestBuild] ADD  CONSTRAINT [DF_TestBuild_datetime]  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[TestBuild] ADD  CONSTRAINT [DF_TestBuild_guid]  DEFAULT (newsequentialid()) FOR [guid]
GO
ALTER TABLE [dbo].[TestBuild] ADD  CONSTRAINT [DF_TestBuild_timeoutHours]  DEFAULT ((0)) FOR [timeoutHours]
GO
ALTER TABLE [dbo].[DeviceUnderTest]  WITH CHECK ADD  CONSTRAINT [FK_DeviceUnderTest_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[DeviceUnderTest] CHECK CONSTRAINT [FK_DeviceUnderTest_Product]
GO
ALTER TABLE [dbo].[DeviceUnderTest]  WITH CHECK ADD  CONSTRAINT [FK_DeviceUnderTest_TestMachine] FOREIGN KEY([machineId])
REFERENCES [dbo].[TestMachine] ([id])
GO
ALTER TABLE [dbo].[DeviceUnderTest] CHECK CONSTRAINT [FK_DeviceUnderTest_TestMachine]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Product]
GO
ALTER TABLE [dbo].[Release]  WITH CHECK ADD  CONSTRAINT [FK_Release_Product] FOREIGN KEY([id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Release] CHECK CONSTRAINT [FK_Release_Product]
GO
ALTER TABLE [dbo].[RoleOperationMap]  WITH CHECK ADD  CONSTRAINT [FK_RoleOperationMap_Operation] FOREIGN KEY([operationId])
REFERENCES [dbo].[Operation] ([id])
GO
ALTER TABLE [dbo].[RoleOperationMap] CHECK CONSTRAINT [FK_RoleOperationMap_Operation]
GO
ALTER TABLE [dbo].[RoleOperationMap]  WITH CHECK ADD  CONSTRAINT [FK_RoleOperationMap_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[RoleOperationMap] CHECK CONSTRAINT [FK_RoleOperationMap_Role]
GO
ALTER TABLE [dbo].[Script]  WITH CHECK ADD  CONSTRAINT [FK_Script_ScriptRepository] FOREIGN KEY([scriptRepoId])
REFERENCES [dbo].[ScriptRepository] ([id])
GO
ALTER TABLE [dbo].[Script] CHECK CONSTRAINT [FK_Script_ScriptRepository]
GO
ALTER TABLE [dbo].[TestBuild]  WITH CHECK ADD  CONSTRAINT [FK_Build_Job] FOREIGN KEY([jobId])
REFERENCES [dbo].[TestJob] ([id])
GO
ALTER TABLE [dbo].[TestBuild] CHECK CONSTRAINT [FK_Build_Job]
GO
ALTER TABLE [dbo].[TestBuild]  WITH CHECK ADD  CONSTRAINT [FK_Build_ResultType1] FOREIGN KEY([buildResultId])
REFERENCES [dbo].[ResultType] ([id])
GO
ALTER TABLE [dbo].[TestBuild] CHECK CONSTRAINT [FK_Build_ResultType1]
GO
ALTER TABLE [dbo].[TestBuild]  WITH CHECK ADD  CONSTRAINT [FK_TestBuild_ResultType] FOREIGN KEY([testResultId])
REFERENCES [dbo].[ResultType] ([id])
GO
ALTER TABLE [dbo].[TestBuild] CHECK CONSTRAINT [FK_TestBuild_ResultType]
GO
ALTER TABLE [dbo].[TestCase]  WITH CHECK ADD  CONSTRAINT [FK_TestCase_Job] FOREIGN KEY([jobId])
REFERENCES [dbo].[TestJob] ([id])
GO
ALTER TABLE [dbo].[TestCase] CHECK CONSTRAINT [FK_TestCase_Job]
GO
ALTER TABLE [dbo].[TestCase]  WITH CHECK ADD  CONSTRAINT [FK_TestCase_Script] FOREIGN KEY([scriptId])
REFERENCES [dbo].[Script] ([id])
GO
ALTER TABLE [dbo].[TestCase] CHECK CONSTRAINT [FK_TestCase_Script]
GO
ALTER TABLE [dbo].[TestJob]  WITH CHECK ADD  CONSTRAINT [FK_Job_Credential] FOREIGN KEY([credentialId])
REFERENCES [dbo].[UserCredential] ([id])
GO
ALTER TABLE [dbo].[TestJob] CHECK CONSTRAINT [FK_Job_Credential]
GO
ALTER TABLE [dbo].[TestJob]  WITH CHECK ADD  CONSTRAINT [FK_TestJob_Project] FOREIGN KEY([projectId])
REFERENCES [dbo].[Project] ([id])
GO
ALTER TABLE [dbo].[TestJob] CHECK CONSTRAINT [FK_TestJob_Project]
GO
ALTER TABLE [dbo].[TestJobParameters]  WITH CHECK ADD  CONSTRAINT [FK_TestJobParameters_TestJob] FOREIGN KEY([testJobId])
REFERENCES [dbo].[TestJob] ([id])
GO
ALTER TABLE [dbo].[TestJobParameters] CHECK CONSTRAINT [FK_TestJobParameters_TestJob]
GO
ALTER TABLE [dbo].[TestJobReportTemplate]  WITH CHECK ADD  CONSTRAINT [FK_TestJobReportTemplate_TestJob] FOREIGN KEY([testJobId])
REFERENCES [dbo].[TestJob] ([id])
GO
ALTER TABLE [dbo].[TestJobReportTemplate] CHECK CONSTRAINT [FK_TestJobReportTemplate_TestJob]
GO
ALTER TABLE [dbo].[TestMachine]  WITH CHECK ADD  CONSTRAINT [FK_TestMachine_Credential] FOREIGN KEY([credentialId])
REFERENCES [dbo].[UserCredential] ([id])
GO
ALTER TABLE [dbo].[TestMachine] CHECK CONSTRAINT [FK_TestMachine_Credential]
GO
ALTER TABLE [dbo].[TestPlan]  WITH CHECK ADD  CONSTRAINT [FK_TestPlan_Product] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[TestPlan] CHECK CONSTRAINT [FK_TestPlan_Product]
GO
ALTER TABLE [dbo].[TestPlanRecipe]  WITH CHECK ADD  CONSTRAINT [FK_TestPlanRecipe_TestCase] FOREIGN KEY([testCaseId])
REFERENCES [dbo].[TestCase] ([id])
GO
ALTER TABLE [dbo].[TestPlanRecipe] CHECK CONSTRAINT [FK_TestPlanRecipe_TestCase]
GO
ALTER TABLE [dbo].[TestPlanRecipe]  WITH CHECK ADD  CONSTRAINT [FK_TestPlanRecipe_TestPlan] FOREIGN KEY([testPlanId])
REFERENCES [dbo].[TestPlan] ([id])
GO
ALTER TABLE [dbo].[TestPlanRecipe] CHECK CONSTRAINT [FK_TestPlanRecipe_TestPlan]
GO
ALTER TABLE [dbo].[TestPlanRecipe]  WITH CHECK ADD  CONSTRAINT [FK_TestPlanRecipe_TestSuite] FOREIGN KEY([testSuitId])
REFERENCES [dbo].[TestSuite] ([id])
GO
ALTER TABLE [dbo].[TestPlanRecipe] CHECK CONSTRAINT [FK_TestPlanRecipe_TestSuite]
GO
ALTER TABLE [dbo].[TestReport]  WITH CHECK ADD  CONSTRAINT [FK_TestReport_TestBuild] FOREIGN KEY([buildId])
REFERENCES [dbo].[TestBuild] ([id])
GO
ALTER TABLE [dbo].[TestReport] CHECK CONSTRAINT [FK_TestReport_TestBuild]
GO
ALTER TABLE [dbo].[TestReport]  WITH CHECK ADD  CONSTRAINT [FK_TestReport_TestJobReportTemplate] FOREIGN KEY([testReportTemplateId])
REFERENCES [dbo].[TestJobReportTemplate] ([id])
GO
ALTER TABLE [dbo].[TestReport] CHECK CONSTRAINT [FK_TestReport_TestJobReportTemplate]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK_TestResult_Build] FOREIGN KEY([testBuildId])
REFERENCES [dbo].[TestBuild] ([id])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK_TestResult_Build]
GO
ALTER TABLE [dbo].[TestResult]  WITH CHECK ADD  CONSTRAINT [FK_TestResult_ResultType1] FOREIGN KEY([TestResultId])
REFERENCES [dbo].[ResultType] ([id])
GO
ALTER TABLE [dbo].[TestResult] CHECK CONSTRAINT [FK_TestResult_ResultType1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserGroupMap]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupMap_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[UserGroupMap] CHECK CONSTRAINT [FK_UserGroupMap_User]
GO
ALTER TABLE [dbo].[UserGroupMap]  WITH CHECK ADD  CONSTRAINT [FK_UserGroupMap_UserGroup] FOREIGN KEY([groupId])
REFERENCES [dbo].[UserGroup] ([id])
GO
ALTER TABLE [dbo].[UserGroupMap] CHECK CONSTRAINT [FK_UserGroupMap_UserGroup]
GO
ALTER TABLE [dbo].[UserRoleMap]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleMap_Role] FOREIGN KEY([roleId])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[UserRoleMap] CHECK CONSTRAINT [FK_UserRoleMap_Role]
GO
ALTER TABLE [dbo].[UserRoleMap]  WITH CHECK ADD  CONSTRAINT [FK_UserRoleMap_User] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[UserRoleMap] CHECK CONSTRAINT [FK_UserRoleMap_User]
GO
USE [master]
GO
